fieldset{
    border: 2px solid;
    border-style: solid;
    /*margin: 1px 20px 1px 20px;*/
    width: 300px;
    margin: 1px auto;
    padding: 1px 40px;
    border-radius: 20px;
}

legend{
    border: 2px solid;
    border-style: solid;
    border-radius: 20px;
}

h1{
    margin: auto;
    width: 300px;
}

h2{
    margin: auto;
    width: 300px;
}
